#section1 {
    position: relative;
    background-color: #0f0f0f;
    user-select: none;

    .bg-images {
        position: absolute;
        inset: 0;
        background-color: #2222226d;

        z-index: 1;

        opacity: 0.42;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;

            mask: radial-gradient(circle, black 53%, transparent 100%);
            -webkit-mask: radial-gradient(circle, black 53%, transparent 100%);
            z-index: 2;

            transition: opacity 300ms ease-in-out;
            opacity: 0;
        }

        img.active {
            opacity: 1 !important;
        }
    }

    .top-panel {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;

        gap: 0.6em;

        background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0.4) 0%,
            rgba(0, 0, 0, 0) 100%
        );
        z-index: 2;

        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: clamp(1em, 2.5vw, 2em) clamp(1em, 5.555vw, 10em);

        button {
            cursor: pointer;
        }
    }

    .menu {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: clamp(4em, 12vw, 8.4em);
        padding: 0;
        z-index: 3;

        display: flex;
        flex-direction: column;

        border-right: 1px solid rgba($color: #fff, $alpha: 0.2515);

        > svg {
            width: 100%;
        }

        button {
            cursor: pointer;

            &::after {
                position: absolute;
                content: "";
                inset: 0;
                background: radial-gradient(
                    circle,
                    rgba(0, 0, 0, 1) 0%,
                    rgba(0, 0, 0, 0) 40%
                );
                z-index: -1;
                transform: scale(0);
                opacity: 0;
                transition: transform 300ms ease-in-out,
                    opacity 300ms ease-in-out;
            }

            &:hover::after {
                transform: scale(1.8);
                opacity: 0.4;
            }
        }
    }

    .menu-navigator {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: end;
        gap: clamp(0.8em, 3vw, 1.7em);
        padding-bottom: 0.7em;

        > button {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 0.2em;
            position: relative;

            span {
                order: 1;
                font-size: 0.6em;
                line-height: 1.1em;
                color: #fff;
            }
        }
    }

    .menu-search {
        padding: 1.6em;
        position: relative;
    }

    .menu-date {
        align-self: center;
        display: grid;
        grid-template-columns: 1fr 1px 1.6fr;
        grid-template-areas: "day day day" "month line year";
        // max-width: 4.2em;
        padding: 0 0.6em;

        font-size: clamp(0.5em, 2vw, 1em);

        * {
            color: #fff;
        }

        &::after {
            content: "";
            background-color: #fff;
            inset: 0;
        }

        &__year {
            grid-area: year;
            text-align: right;
        }

        &__month {
            grid-area: month;
            text-align: left;
        }

        &__month,
        &__year {
            font-size: 0.8em;
            letter-spacing: 0.07em;
            line-height: 1em;
        }

        &__day {
            grid-area: day;
            font-size: 3.6em;
            font-weight: 600;
            line-height: 1em;
        }
    }

    .menu-place {
        padding: 1.5em 0.5em 2.25em 0.5em;
        align-self: center;
        display: flex;
        gap: 0.3em;
        font-size: clamp(0.5em, 2vw, 1em);

        span {
            font-size: 0.6em;
            color: #fff;
            order: 1;
        }

        svg {
            width: 0.55em;
            height: 0.7em;
        }
    }

    .map {
        position: absolute;
        top: 0;
        right: 0;
        width: clamp(17.4em, 50vw, 38.3em);
        height: clamp(11.3em, 50vw, 24.85em);
        z-index: 3;
        pointer-events: none;

        > div {
            position: relative;
            width: 100%;
            height: 100%;
            display: flex;
        }

        svg {
            width: 100%;
            height: 100%;
        }

        &__bg {
            opacity: 0.3;
            position: absolute;
        }

        &__path {
            position: absolute;
            transition: opacity 300ms ease-in-out;
            opacity: 0;

            &.active {
                opacity: 1;
            }
        }
    }

    .about-path {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 4;
        padding-right: clamp(2em, 5vw, 4em);
        padding-bottom: 1.5em;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        &__label {
            font-weight: 400;
            font-size: clamp(0.3em, 4vw, 1.1em);
            line-height: 1em;
            display: flex;
            align-items: center;
            gap: 1.2em;
            justify-content: flex-end;
            color: rgba($color: #fff, $alpha: 0.5);
            letter-spacing: 0.3665em;
            padding-top: 2.18em;
            padding-bottom: 1em;

            &::before {
                content: "";
                height: 1px;
                width: clamp(2em, 5vw, 4em);
                background-color: rgba($color: #fff, $alpha: 0.5);
            }
        }

        h1 {
            font-weight: 800;
            font-size: clamp(1.5em, 8vw, 4em);
            line-height: 1em;
            display: flex;
            justify-content: flex-end;
            text-transform: uppercase;
            color: rgba($color: #fff, $alpha: 1);
            text-align: right;
        }

        h3 {
            font-weight: 800;
            line-height: 1em;
            font-size: clamp(0.5em, 6vw, 2em);
            display: flex;
            justify-content: flex-end;
            text-transform: uppercase;
            color: rgba($color: #fff, $alpha: 1);
            text-align: right;
        }

        .btn-next-path {
            align-self: end;
            justify-self: end;
            padding: 1.5em 0;
            cursor: pointer;
        }

        &__btns {
            display: flex;
            gap: clamp(0.6em, 4vw, 2em);

            button {
                border-top: 0.2em solid rgba($color: #fff, $alpha: 1);
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 0.5em;
                padding: 0.3em 0;
                width: clamp(6em, 15vw, 10em);
                cursor: pointer;
                position: relative;

                &.active {
                    border-color: rgba($color: #4af6cd, $alpha: 1);
                }

                span {
                    &:first-child {
                        color: rgba($color: #fff, $alpha: 1);
                        font-size: 1.2em;
                        line-height: 1.2em;
                        font-weight: 800;
                        text-align: right;
                        text-transform: uppercase;
                    }

                    &:last-child {
                        color: rgba($color: #fff, $alpha: 1);
                        font-size: 0.8em;
                        line-height: 1.2em;
                        font-weight: 300;
                        text-align: right;
                        white-space: nowrap;
                    }
                }

                &::after {
                    position: absolute;
                    content: "";
                    inset: 0;
                    background: rgba(0, 0, 0, 1);
                    z-index: -1;
                    opacity: 0;
                    transition: opacity 300ms ease-in-out;
                }

                &:hover::after {
                    opacity: 0.4;
                    transform: scale(1.1);
                }
            }
        }
    }

    .title-shadow {
        z-index: 3;
        svg {
            max-width: 100%;
        }
    }
}

@media (max-width: 730px) {
    #section1 {
        .about-path {
            .btn-next-path {
                display: none;
            }
            &__btns {
                flex-direction: column;
                padding-top: 2em;
            }
        }
    }
}
